@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.conteiner{
    max-width: 700px;
    margin: auto;
}

body{
    font-weight: normal;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ddd;
}

.h1{
    color: rebeccapurple;
    margin: 15px 0px ;
}

.info{
    margin-left: 10px;
    border-radius: 10px;
    background-color: LavenderBlush;
    padding-left: 15px;
    padding-right: 8px;
    padding-bottom: 5px;
}

.social{
    border-left: 5px solid Tomato;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: LavenderBlush;
    padding-left: 15px;
    padding-bottom: 5px;
}

.hobby{
    border-left: 5px solid Tomato;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: LavenderBlush;
    padding-left: 15px;
    padding-bottom: 5px;
}

.work{
    border-left: 5px solid Tomato;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: LavenderBlush;
    padding-left: 15px;
    padding-bottom: 5px;

}

.ms{
    border-left: 5px solid Tomato;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: LavenderBlush;
    padding-left: 15px;
    padding-bottom: 10px;
}

.img{
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    transition: 1s;
    font-size: 16.5px;
    opacity: 0.5;
}

.btn{
    border: none;
    background-color: LightPink;
    color: rebeccapurple;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.btn:hover{
    transition: 1s;
    font-size: 14.5px;
}

.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.list li {
    padding: 4px;
}
.table {
    text-align: center; 
    width: 80%;
    table-layout: fixed;

}

.table td {
    padding: 10px;
}

.table th {
    padding: 10px;
}

.table td:nth-child(1){
    background: LightPink;
}
.table td:nth-child(2){
    background: LightPink;
}
.table td:nth-child(3){
    background: LightPink;
}

.imginfo{
    display: flex;
}

@media (max-width:650px){
    .imginfo {
        display: block;
        text-align: center;
    }
}
    
.form {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width:650px){
    .form {
        display: block;
    }
    
    .form .label{
        padding-top: 20px;
        width: 100%;
    }
}

.form .label {
    margin-right: 60px;
    width: 50%;
}

.label textarea, input{
    width: 100%;
    background-color: LavenderBlush;
    border: none;
    border-bottom: 1px solid #ccc;
    opacity: 0.7;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
